alertmanager:
  enabled: true
  persistentVolume:
    enabled: true
    size: 2Gi
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi

server:
  retention: "7d"
  persistentVolume:
    enabled: true
    size: 20Gi
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      memory: 2Gi

  global:
    scrape_interval: 60s
    evaluation_interval: 60s

# Em Raspberry, reduzir escopo ajuda bastante
kubeStateMetrics:
  enabled: true
nodeExporter:
  enabled: true

pushgateway:
  enabled: false
